*{
    
    box-sizing: border-box;
}

.menu{
    color: black;
    font-family: 'Roboto';
}

.navbar-brand{
    font-size: 40px;
}

.menu :hover{
    background: rgb(174, 226, 226);
    text-transform: uppercase;
    transition: 5s;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
}




.nos a{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px;
    background: rgb(26, 25, 25);
    color: white;

   
}
.carroseul h2{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-shadow: 4px 4px 4px #aaa;
color: #c0c9cf;
line-height: 390px;


}


.nos a:hover{
    background: rgb(174, 226, 226);
    color: black;
}
.corpo{
    font-family: 'Roboto';
}


.quarto img:hover{

    scale: 1;
}

.contato .btn{

    padding: 10px;
    background: rgb(36, 35, 35);
    color: white;
    display: flex;
    justify-content: end;
}

.contato .btn:hover{

    background: rgb(174, 226, 226);
    color: black;
}

.rodape{
    background: rgb(41, 163, 172);
    color: rgb(224, 213, 213);
}


@media screen and (max-width:800px)
{

    .carroseul h4{
        font-size: 30px;
        display: block;
    }


    .nos img{
        width: 100%;
    }

    .nos .btn{
        margin-bottom: 5px;
    }

   .quarto .card{

        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

}

.card:hover{
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform:scale(1.2);
}


@media screen and (min-width: 992px) {
    
}


